<%= link_to products_path do %>
<h1>Vendelo</h1>
<% end %>

<div>
    <%= link_to 'Añadir producto', new_product_path %>
    <%= link_to 'Categorías', categories_path %>
    <%= link_to 'Login', new_session_path %>
    <%= link_to 'Sign Up', new_user_path %>
</div>
