<%= link_to products_path do %>
<h1>Vendelo</h1>
<% end %>

<div>
    <%= link_to 'Productos', products_path %>
    <%= link_to 'Añadir producto', new_product_path %>
</div>

<div>
    <%= link_to 'Categorías', categories_path %>
    <%= link_to 'Añadir Categoría', new_category_path %>
</div>